* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.result-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}


.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2; 
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  z-index: -1; 
}


.content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  width: 100%;
  padding: 20px;
}

.flow-container {
  height: 500px;
  width: 80%;
  margin: auto;
  background: transparent; 
  border-radius: 10px;
  padding: 10px;
}


div.ReactFlow {
  background-color: transparent !important; 
  border: none;
}


.react-flow__attribution {
  display: none !important;
}


.react-flow__node {
  font-size: 14px;
  color: #fff;
  text-align: center;
  background-color: #4caf50;
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.react-flow__edge {
  stroke: #2196f3;
  stroke-width: 2px;
}


.react-flow__edge-text {
  font-size: 12px;
  font-weight: bold;
  fill: #fff;
}


.react-flow__controls {
  display: none;
}


.loading-message,
.error-message {
  color: white;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}
