.pagination{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 25px;
}

.pagination-btn{
    padding: 18px;
    margin: 0 5px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
}

.pagination-btn:disabled{
    background-color: #ddd;
    color: black;
    cursor: not-allowed;
}

.pagination-btn.active{
     background-color: #bb3901;
}