@tailwind base;
@tailwind components;
@tailwind utilities;

.images {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /* Align images to the bottom of their container */
  }
  
  .images img {
    height: 250px;
    object-fit: cover;
  }
  
  .images img:first-child {
    width: 250px;
  }
  
  .middle {
    width: calc(100% - 500px);
  }
  
  .img2 {
    width: 250px;
  }
  