.body {
    overflow-x: hidden;
}

.page_1 {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
    padding-left: 5%;
    padding-right: 5%;
}

.gradient-text {
    background: linear-gradient(to left bottom, rgba(0, 255, 89, 0.737), #1ec180eb);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.page_1 h1 {
    font-size: 85px;
    font-weight: 900;
    margin-right: 45px;
    position: relative;
    color: transparent;
}

.page_1 h1::before {
    content: "PATH.MANAGEMENT.SYSTEM";
    position: absolute;
    top: -4px;
    left: -4px;
    -webkit-text-stroke: 2px black;
    z-index: -1;
}

.page_1 h2 {
    font-size: 45px;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 20px;
    color: mediumpurple;
    position: relative;
}

.page_1 h2::before {
    content: "NAVIGATING THE SHORTEST PATH";
    position: absolute;
    color: black;
    top: -2px;
    left: -2px;
    -webkit-text-stroke: 1px white;
    z-index: -1;
}

.page_1 p {
    font-size: 20px;
    font-weight: 500;
    width: 40%;
    color: rgb(173, 184, 11);
}

/* Responsive styles */
@media (max-width: 1024px) {
    .page_1 h1 {
        font-size: 65px;
    }

    .page_1 h2 {
        font-size: 35px;
    }

    .page_1 p {
        font-size: 18px;
        width: 60%;
    }
}

@media (max-width: 768px) {
    .page_1 h1 {
        font-size: 50px;
        margin-right: 0;
    }

    .page_1 h2 {
        font-size: 30px;
    }

    .page_1 p {
        font-size: 16px;
        width: 80%;
    }
}

@media (max-width: 480px) {
    .page_1 h1 {
        font-size: 36px;
    }

    .page_1 h2 {
        font-size: 24px;
    }

    .page_1 p {
        font-size: 14px;
        width: 90%;
    }
}
